mixin bgWave(color, opacity)
  svg(xmlns="http://www.w3.org/2000/svg", viewbox="0 0 1920.01 22.759", class="wave-bg")
    defs
      style.
        .cls-1{isolation:isolate;}
    g(data-name="wave-bg", style=`fill: ${color}; opacity: ${opacity}`)
      path.cls-1(d="M1920,22.759,1920.01,0c-30.025,0-30.025,15.32-60.049,15.32S1829.936,0,1799.912,0c-30,0-30,15.32-60.007,15.32S1709.891,0,1679.878,0s-30,15.32-60,15.32S1589.877,0,1559.882,0s-30.005,15.32-60.009,15.32S1469.868,0,1439.865,0s-30,15.32-60,15.32S1349.857,0,1319.851,0s-30,15.32-60,15.32-30-15.32-60-15.32-30,15.32-59.994,15.32-30-15.32-60-15.32-30,15.32-59.994,15.32S989.871,0,959.882,0s-30,15.32-59.992,15.32S869.9,0,839.914,0s-30,15.32-59.995,15.32-30-15.32-60-15.32-30,15.32-60,15.32-30-15.32-60-15.32-30,15.32-60,15.32S509.934,0,479.939,0s-30,15.32-59.995,15.32S389.947,0,359.95,0s-29.994,15.32-59.988,15.32-30-15.32-60-15.32S209.97,15.32,179.977,15.32s-30-15.32-60-15.32S89.986,15.32,59.994,15.32,30,0,0,0V22.759Z")

mixin bgWaveSP(color, opacity)
  svg(xmlns="http://www.w3.org/2000/svg", viewbox="0 0 839.578 26.989", class="wave-bg-sp")
    defs
      style.
        .cls-1{isolation:isolate;}
    g(data-name="wave-bg", style=`fill: ${color}; opacity: ${opacity}`)
      path.cls-1(d="M839.578,14.989C809.572,14.989,809.928,0,779.922,0s-30,15.321-60,15.321S689.921,0,659.923,0s-30,15.321-59.994,15.321S569.927,0,539.925,0s-30,15.321-59.994,15.321S449.942,0,419.953,0s-30,15.321-59.992,15.321S329.973,0,299.985,0s-30,15.321-59.995,15.321S209.992,0,179.994,0s-30,15.321-60,15.321S90,0,60,0,30,15.321,0,15.321V26.989H839.578Z")


- var md = "(min-width: 800px)"

mixin source(media, source)
    source(media=media srcset=source)

mixin picture(fallback, alt="")
    picture&attributes(attributes)
        +source(md, fallback)
        - var array = fallback.split(/\./)
        - array.splice(1, 0, '_sp.')
        - var spImage = array.join('')
        img(src=spImage alt=alt)